{{!-- <li class='elements'>
  <img class='flags' src='{{flags.svg}}' alt='country flag {{name}}' />
  <p>{{name}}</p>
</li> --}}

<img
  class='img-flag'
  src='{{country.flags.svg}}'
  alt='flag {{country.name}}'
  width='50px'
/><p>{{country.name.official}}</p>